.masthead {
    margin-bottom: 2em;
}


.sites {
    @include grid;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    animation: fadein 0.42s;
}

.site {
    background: #fff;
    border-bottom: 2px solid #ccc;
    padding: 1rem;
}

.site__url {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 1.2rem;
}

.site__link {
    word-wrap: break-word;
}

.icon-open {
    width: 1em;
    height: 1em;
    position: relative;
    top: .15em;
    fill: lighten($font, 15%);
}

/* Search form */
input {
    padding: 0.6rem;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #ddd;
}

button {
    padding: 0.6rem 1rem;
    font-size: .9em;
    border: none;
    border-radius: 3px;
    color: #fff;
    background: #20A581;
}

button:hover {
    background: #20A581;
}

@keyframes fadein {
    from {
        margin-top: -2em;
        opacity: 0;
     }
    to   {
        margin-top: 0;
        opacity: 1; }
}
